body, html {
    height: 100%;
    line-height: 1.8;
	background-color: #eaeaea;
}

h1 {
    font-family: 'Baloo Chettan', cursive;
    text-transform: capitalize;
}

h3 {
    font-family: 'Baloo Chettan', cursive;
    font-size: 24px;
    text-transform: capitalize;
}

h4, label, th {
    font-family: 'Baloo Chettan', cursive;
    font-size: 18px;
    text-transform: capitalize;
}

input {
    width: 200px;
}

#navMenu .w3-sidebar {
/*	height: auto !important;*/
}

.w3-btn:focus {
	outline: none;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* First image (Full height) */
.bgimg-1 {
    background-image: url('../images/bgFull.jpeg');
    min-height: 100%;
}

/* Second image */
.bgimg-2 {
    background-image: url('../images/background/2.jpg');
    min-height: 400px;
}

/* Third image */
.bgimg-3 {
    background-image: url("../images/background/3.jpg");
    min-height: 400px;
}

/* Forth image */
.bgimg-4 {
    background-image: url("../images/background/4.jpg");
    min-height: 400px;
}

.w3-wide {letter-spacing: 5px;}

.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
/*
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}
*/

#process {
	padding:0px;
}

.intro-paragraph {
    font-size: 16px;
    font-weight: 500;
}

/* POP UP MODAL RECIPE INFO */

        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Header */
        .modal-header {
            padding: 2px 16px;
            background-color: #5cb85c;
            color: white;
            position: relative;
        }

        /* Modal Body */
        .modal-body {padding: 2px 16px;}

        /* Modal Footer */
        .modal-footer {
            padding: 2px 16px;
            background-color: 21B251;
            color: white;
        }

        /* Modal Content */
        .modal-content {
            position: relative;
            background-color: #fefefe;
            margin: auto;
            padding: 0;
            border: 1px solid #888;
            width: 80%;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
            animation-name: animatetop;
            animation-duration: 0.4s
        }

        /* Add Animation */
        @keyframes animatetop {
            from {top: -300px; opacity: 0}
            to {top: 0; opacity: 1}
        }

        /* The Close Button */
        .close {
            color: rgb(255, 255, 255);
            position: absolute;
            top: 0;
            right: 0;
            font-size: 22px;
            font-weight: bold;
            padding-right: 10px;
        }
        
        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

/*-----------------------------------

/* POP UP MODAL SEARCH FORMS */

 /* New Recipe Search Modal */
    .searchModal, .ingredientModal, .nutritionModal .yourRecipeModal, .addedRecipeModal{
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(10, 158, 77); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        color: rgb(10, 158, 77);
    }


    /* The Close Button */
    .searchClose, .ingredientClose, .nutritionClose, .addClose, addedRecipesClose {
        color: rgb(255, 255, 255);
        position: absolute;
        top: 0;
        right: 0;
        font-size: 22px;
        font-weight: bold;
        padding-right: 10px;
    }

    .addClose:hover,
    .addClose:focus,
    .nutritionClose:hover,
    .nutritionClose:focus,
    .searchClose:hover,
    .searchClose:focus,
    .ingredientClose:hover,
    .ingredientClose:focus
    .addedRecipesClose:hover,
    .addedRecipesClose:focus, {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

.button{
    border:1px solid #333;
    background:#6479fd;
  }
  .button:hover{
    background:#a4a9fd;
  }
  
  input[type=text]{
    border:1px solid #333;
    display:inline-block;
    margin:5px;
  }
  #w3-btn{
    border:1px solid #000;
    background:#ff9999;
    margin:5px;
  }

  .w3-btn{
    border:1px rgb(32, 196, 81);
    background:rgb(32, 196, 81);
    color: white;
    font-weight: 600;
    margin:5px;
  }
  
  #w3-btn:hover{
    border:1px solid #000;
    background:#ffacac;
  }

  #complex-search-form {
      text-align: left;
  }

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
/*Recipe Card Results*/

.recipe {
    width: 312px;
    margin: 16px;
    flex: 0 1 auto;
    position: relative;
}

.recipeTextBlock {
    position: absolute;
/*
    top: 20px;
    left: 20px;
*/
    background-color: salmon;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    
}

#recipe-view {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

#learnMoreBtn {
    /* position: absolute;
    bottom: 20px;
    right: 20px; */
    background-color: salmon;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-style: groove;
    border-color: white;
}



/*MEDIA QUERIES*/


/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {

}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {

}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {

}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {

}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	
}

/* iPad 3 (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (-webkit-min-device-pixel-ratio : 2),
only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (min-resolution: 192dpi) { 

}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
	
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
	
}

/* Retina displays ----------- */
@media  only screen 
and (-webkit-min-device-pixel-ratio : 2), 
only screen 
and (min-resolution: 192dpi) {

}

/* For non-retina based devices that have a smaller screen */
@media only screen and (min-width: 320px) {

}

/* Retina enabled devices with smaller screen */
@media  only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px), 
only screen and ( -o-min-device-pixel-ratio: 2/1) and (min-width: 320px),  
only screen and ( min-device-pixel-ratio: 2) and (min-width: 320px),  
only screen and ( min-resolution: 192dpi) and (min-width: 320px),  
only screen and ( min-resolution: 2dppx) and (min-width: 320px) {

}

/*Non- retina based devices with medium screen size */
@media only screen and (min-width: 768px) {

}

/* Retina devices with medium screen size */
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px),  
only screen and ( -o-min-device-pixel-ratio: 2/1) and (min-width: 768px),  
only screen and ( min-device-pixel-ratio: 2) and (min-width: 768px),  
only screen and ( min-resolution: 192dpi) and (min-width: 768px),  
only screen and ( min-resolution: 2dppx) and (min-width: 768px) {

}

/* Non-retina devices with large screen sizes */
@media only screen and (min-width: 1200px) {

}

/* Retina devices with large screen sizes */
@media  only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px),  
only screen and ( -o-min-device-pixel-ratio: 2/1) and (min-width: 1200px),  
only screen and ( min-device-pixel-ratio: 2) and (min-width: 1200px),  
only screen and ( min-resolution: 192dpi) and (min-width: 1200px),  
only screen and ( min-resolution: 2dppx) and (min-width: 1200px) {

}